html,
body {
    height: 100%;
}

body {
    margin: 0;
    background: url(../img/roses_bouquet.jpg) no-repeat center/ cover;

}

.wrapper {
    overflow: hidden;
    font-family: 'Alegreya Sans SC', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100%;
    animation: gradient 3s forwards;
    position: relative;
}
.picture {
    position: absolute;
    animation: runLeft 15s, 3s;
}

.content {
    background-color:#b58688;
    display: inline block;
    color: #e4cec9;
    padding: 40px;
    border-radius: 100px 100px 100px 100px;
    animation: shift 3s;
    opacity: 1;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.title {
    font-size: 40px;
    text-align: center;
    transform: skew(10deg, 5deg);
    animation: text-transform 1s alternate infinite linear;
    color: #bdb3b4;
}

.poem {
    font-size: 25px;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-family: 'EB Garamond', serif;
}

@keyframes shift {
    0% {
        transform: translateX(-100vw);
        opacity: 0;
    }


    50% {
        transform: perspective(400px) rotateY(30deg);
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes text-transform {
    100% {
        transform: skew(10deg, 10deg);
    }

}

@keyframes gradient {
    0% {
        background: rgba(205, 165, 160);
    }
    50% {
        background: (#856a66);
    }
    100% {
        background: (#ffd6d1);
    }
}

@keyframes runLeft {
    0% {
        transform: translateX(-100vw);
    }

    100% {
        transform: translateX(100vw);
    }
}

